<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>PDF在线转换</title>
	<link href="../static/css/layout.css" rel="stylesheet" type="text/css">
</head>
<body>
<v-header></v-header>
<div class="banner">
	<div class="body">
		<div class="line">
			<div class="blue"><a href="javascript:;"><img src="../static/img/wo.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/ppt.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/exl.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/html.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/txt.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/img.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/world2.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/txt2.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/ppt2.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/html2.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/rxt.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/xml.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/yaoshi.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/suo.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/hebing.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/fenge.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/huoqu.png"></a></div>
			<div><a href="javascript:;"><img src="../static/img/shibie.png"></a></div>
		</div>
	</div>
	<v-footer></v-footer>
</div>
<script src="../static/es6/lib/jquery-1.9.1.js"></script>
<script src="../static/es6/lib/vue.js"></script>
<script src="../static/es6/index.js"></script>
</body>
</html>